@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFF;
  position: relative;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}

.home {
  width: 98%;
  padding-bottom: 1rem;
  position: relative;
  margin: 0 auto;
}

.profile-img {
  text-align: center;
  padding-bottom: 2rem;
}

.profile-img p {
  visibility: hidden;
}

#profile__img {
  width: 88px;
  border: 5.5px solid #EBE9FE;
  border-radius: 275px;
  height: 88px;
}

.profile-img h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #101828;
}

.link a {
  color: #101828;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  background-color: #EAECF0;
  padding: 1.5rem 2rem;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.link a:hover {
  background-color: #D0D5DD;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.link a:focus-visible {
  border: 1px solid #98A2B3;
  background-color: #EAECF0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EBE9FE;
}

.share {
  text-align: right;
}

.share img {
  border: 1px dashed #D0D5DD;
  padding: 1rem;
  border-radius: 20px;
}

#mobile:hover {
  background: #F9FAFB;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
  transition: ease-out 200ms;
}

#desktop {
  display: none;
}

.socials {
  text-align: center;
  margin-bottom: 5rem;
}

.socials img {
  margin-left: 1rem;
}

.error-page {
  padding: 9rem 1rem;
}

.error-page p:first-child {
  color: #5925DC;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}

.error-page h2 {
  letter-spacing: -0.02em;
  line-height: 44px;
  font-size: 36px;
  font-weight: 600;
  color: #101828;
}

.error-page p:nth-last-of-type(1) {
  color: #475467;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 1rem 0;
}

.error-links {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.first {
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  background-color: #fff;
  color: #344054;
}

.error-links button {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 12px 20px;
}

.second {
  border: 1px solid #6938EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  background-color: #6938EF;
  color: #fff;
}

.error-links a {
  text-decoration: none;


}

footer {
  width: 98%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin: 0 auto;
  border-top: 1px solid #D0D5DD;
}

footer img {
  width: 50%;
  padding-bottom: 1rem;
}

footer p {
  font-size: small;
  padding-bottom: 1rem;
  font-weight: 400;
  color: #667085;
}

#i4g {
  width: 40%;
}



@media screen and (min-width:700px) {

  #mobile {
    display: none;
  }

  .share {
    text-align: center;
    padding-left: 20rem;
  }

  #desktop {
    display: inline;
  }

  #desktop:hover {
    background: #F9FAFB;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
    transition: ease-out 200ms;
  }

  .socials {
    text-align: center;
    margin-bottom: 5rem;
  }

  .socials img {
    margin-left: 1rem;
  }

  .home {
    width: 80%;
  }

  .error-page {
    margin: 0.8% 3%;
  }

  .error-links {
    flex-direction: row;
  }

  footer {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    margin: 2rem auto 0;
    border-top: 1px solid #D0D5DD;
  }

  footer p {
    font-size: 1rem;
  }

  footer img {
    width: 15%;
  }

  #i4g {
    width: 10%;
  }
}


@media screen and (min-width:1000px) {
  body {
    min-height: 100vh;
  }

  .share {
    text-align: center;
    padding-left: 40rem;
  }
}